/* products */

#products-main {
    position: relative;
}

#products-nav {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    width: 5rem;
    position: fixed;
    top: 3rem;
    bottom: 3.2rem;
    left: 0;
    overflow: scroll;
}

#products-nav::-webkit-scrollbar {
    display: none;
}

#products-nav a {
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    padding: 1rem 0;
}

.scroll {
    color: #ff6700;
    font-weight: bold;
}

#products-content {
    position: absolute;
    left: 5rem;
    top: 3rem;
    /* top: 0; */
    width: calc(100vw - 5rem);
}

.products {
    margin: 0;
    padding: 0;
}

.products h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 1.1rem 0;
    /* padding: 4.1rem 0 1.1rem 0; */
    color: #595959;
    background: #f3f3f3;
}

h3>span {
    color: #d3d3d3;
}

.product {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-bottom: 0.3rem solid #f3f3f3;
    font-size: 0.9rem;
}

#products-content .products:last-child {
    border-bottom: 3.3rem solid #f3f3f3;
}

.product img {
    display: block;
    width: 4rem;
    height: 4rem;
}

.products-info {
    width: calc(100vw - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-price p {
    color: #ff6700;
}

.products-price a {
    color: white;
    font-size: 0.8rem;
    padding: 0.3rem 1.2rem;
    background: linear-gradient(to right bottom, #ffc0cb, #ff0000);
    border-radius: 1rem;
    align-self: center;
}

/* commodity */

.commodity {
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 80vw;
    left: 0;
    bottom: 0;
    background: #ffffff;
}

.commodity-img {
    position: absolute;
    left: 1rem;
    top: -2rem;
}

.commodity-img img {
    display: block;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 0.3rem;
}

.commodity-main {
    padding: 0 1rem;
}

.commodity-price {
    margin: 0.2rem 0 1rem 7.4rem;
}

.commodity-name {
    color: #595959;
    line-height: 2rem;
}

.commodity-original {
    font-size: 0.9rem;
    color: #a9a9a9;
    line-height: 0.9rem;
}

.commodity-original span:last-child {
    text-decoration: line-through;
}

.commodity-present span:first-child {
    font-size: 0.9rem;
    color: #696969;
}

.commodity-present span:last-child {
    color: #ff6700;
}

.commodity-info {
    border-bottom: 0.03rem solid #e9e9e9;
}

.commodity-msg {
    margin-bottom: 1rem;
}

.commodity-cont {
    width: 45vw;
    color: #696969;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
    padding: 0.3rem 0;
    border: 0.05rem solid #ff6700;
    border-radius: 1.2rem;
}

.commodity-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 0;
    border-bottom: 0.03rem solid #e9e9e9;
}

.commodity-settlement {
    height: calc(80vw - 13.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.commodity-settlement a {
    width: calc(100vw - 2rem);
    background: #ff6700;
    padding: 0.3rem 0;
    text-align: center;
    color: #ffffff;
    border-radius: 1.2rem;
}

.commodity-exit {
    position: absolute;
    right: 0.4rem;
    top: 0;
}

.commodity-exit img {
    width: 1.3rem;
    height: 1.3rem;
    padding: 0.3rem;
}

.commodity-close {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
}