/* user-header */

#user-header {
	/* background: linear-gradient(#f9f9f9, #d9d9d9); */
	display: flex;
	align-items: center;
}

#user-header a {
    color: #696969;
}

#user-header a:first-child {
    margin: 1rem 0.5rem 1rem 1.5rem;
}

#user-header img {
    /* display: block; */
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* user-content */

#user-content img {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

#cv {
    border-bottom: 0.05rem solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

#cv a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

#cv img {
    width: 0.9rem;
    height: 0.9rem;
    margin-left:0.3rem;
}

#user-order {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.5rem solid #e9e9e9;
    font-size: 0.8rem;
}

#user-order a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#user-page a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 0.9rem;
    border-bottom: 0.05rem solid #e9e9e9;
}

#user-page a div {
    display: flex;
    align-items: center;
}

#user-page a p {
    margin-left: 0.8rem;
}

#user-page a img:last-child {
    width:1rem;
    height:1rem;
}